<a href="https://colab.research.google.com/github/dieko95/AlgoTrading/blob/develop/AlgoTrading.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AlgoTrading

## Download Alt Data (Tweets)

https://pypi.org/project/GetOldTweets3/



```
python Exporter.py --query @RedHat --since 2014-01-01 --until 2019-01-15 --maxtweets 5000000
```

In [0]:
!pip install GetOldTweets3

Requirement already satisfied: GetOldTweets3 in /usr/local/lib/python3.6/dist-packages (0.0.10)
Requirement already satisfied: lxml>=3.5.0 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (4.2.6)
Requirement already satisfied: pyquery>=1.2.10 in /usr/local/lib/python3.6/dist-packages (from GetOldTweets3) (1.4.0)
Requirement already satisfied: cssselect>0.7.9 in /usr/local/lib/python3.6/dist-packages (from pyquery>=1.2.10->GetOldTweets3) (1.0.3)

In [0]:
import pandas as pd
from pandas import Series, DataFrame

import GetOldTweets3 as got

## Sentiment Analysis with Vader - Nasty Prototype

![alt text](https://cdn-images-1.medium.com/max/800/1*G8yV2iaqqfaGfmRPRem2Fw.png)

In [0]:
tweetsDf = pd.read_csv('redhatprototype.csv')

In [0]:
# !pip install vaderSentiment

from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer


analyzer = SentimentIntensityAnalyzer()

tweet = []
number_favourites = []
retweets = []
vs_compound = []
vs_pos = []
vs_neu = []
vs_neg = []
timeStamp = []

for i in range(tweetsDf.shape[0]):
    tweet.append(tweetsDf.loc[i]['text'])
    number_favourites.append(tweetsDf.loc[i]['favorites'])
    retweets.append(tweetsDf.loc[i]['retweets'])
    timeStamp.append(tweetsDf.loc[i]['date'])
    vs_compound.append(analyzer.polarity_scores(tweetsDf.loc[i]['text'])['compound'])
    vs_pos.append(analyzer.polarity_scores(tweetsDf.loc[i]['text'])['pos'])
    vs_neu.append(analyzer.polarity_scores(tweetsDf.loc[i]['text'])['neu'])
    vs_neg.append(analyzer.polarity_scores(tweetsDf.loc[i]['text'])['neg'])

In [137]:

twitter_df = DataFrame({'Tweet': tweet,
                        'Favourites': number_favourites,
                        'retweets' : retweets,
                        'timeStamp' : timeStamp,
                        'Compound': vs_compound,
                        'Positive': vs_pos,
                        'Neutral': vs_neu,
                        'Negative': vs_neg})
twitter_df = twitter_df[['timeStamp','Tweet', 'Favourites', 'retweets','Compound',
                         'Positive', 'Neutral', 'Negative']]

twitter_df

           timeStamp  ... Negative
0   2019-01-14 18:24  ...    0.000
1   2019-01-14 18:23  ...    0.106
2   2019-01-14 18:00  ...    0.000
3   2019-01-14 17:27  ...    0.000
4   2019-01-13 12:42  ...    0.057
5   2019-01-13 11:50  ...    0.000
6   2019-01-13 11:50  ...    0.000
7   2019-01-13 11:50  ...    0.000
8   2019-01-13 11:50  ...    0.000
9   2019-01-13 11:49  ...    0.000
10  2019-01-13 11:45  ...    0.000
11  2019-01-13 11:42  ...    0.000
12  2019-01-13 11:37  ...    0.083
13  2019-01-13 11:00  ...    0.000
14  2019-01-13 10:52  ...    0.000
15  2019-01-13 09:49  ...    0.000
16  2019-01-12 22:52  ...    0.000
17  2019-01-12 19:00  ...    0.000
18  2019-01-12 17:28  ...    0.000
19  2019-01-12 17:19  ...    0.000
20  2019-01-12 15:46  ...    0.000
21  2019-01-12 15:15  ...    0.000
22  2019-01-12 14:51  ...    0.227
23  2019-01-12 14:38  ...    0.000

[24 rows x 8 columns]

In [140]:
twitter_df.describe()

       Favourites   retweets   Compound   Positive    Neutral   Negative
count   24.000000  24.000000  24.000000  24.000000  24.000000  24.000000
mean     5.250000   2.583333   0.220138   0.123708   0.814958   0.019708
std      9.190023   4.210924   0.378558   0.213534   0.276852   0.052577
min      0.000000   0.000000  -0.493900   0.000000   0.000000   0.000000
25%      0.000000   0.000000   0.000000   0.000000   0.788750   0.000000
50%      2.000000   1.000000   0.000000   0.055000   0.867500   0.000000
75%      3.250000   2.000000   0.601125   0.151000   1.000000   0.000000
max     34.000000  16.000000   0.882900   1.000000   1.000000   0.227000